p{
    color: grey;
}

form {
    height: 70px;
    padding-left: 20px;
}
select, input[type="text"]{
    margin: 20px;
    height: 30px;
    border-radius: 10px;
    padding: 5px;
    color: #2323A6;
}

#list{
    width: 60%;
}
#detail{
    width: 30%;
} 