
<form (submit)="submit()">  
<label for="sel">Search cocktails</label>
    <select name="sel" [(ngModel)]="query" (change)="onChange()" id="sel">
    <option value="s=">Search cocktail by name</option>
    <option value="i=">Search ingredient by name</option>
    </select>
    <input type="text" *ngIf="flag" name="text" [(ngModel)]="text" placeholder="Ingredients ...">
</form>
<div id="list">
    <div *ngFor="let cocktail of cocktails"  >
        <app-cocktail [cocktail]="cocktail"></app-cocktail>
    </div>
    <div id="detail">

    </div>
</div>



