
*{
    margin:0;
    padding: 0;
    box-sizing:border-box;
    font-family: "Open Sans", sans-serif;
    color:#fff;
}

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html,body{
	width:90%;
    height: 100%;
    margin: 0 auto;
}

